/* src/assets/Accommodations.css */
.accommodations-container {
  padding: 2rem;
  background-color: #e4cccc;
  min-height: 100vh;
}

.accommodations-list {
  list-style: none;
  padding: 0;
}

.accommodation-card {
  border: 1px solid #ecdcdc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #0c0202;
}
