/* src/assets/Dashboard.css */

.dashboard-title {
  color: #000; /* Negro */
  font-size: 2rem;
  margin-bottom: 1rem;
}

.dashboard-subtitle {
  color: #000; /* Negro */
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.dashboard-token {
  width: 100%;
  resize: none;
  padding: 0.5rem;
  font-family: monospace;
  color: #000; /* Asegura que el texto del token también sea negro */
}
